{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html lang="en-US" class="no-js" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7054272/6240972/css/fonts.css" />
  <link rel="stylesheet" href="https://cdn.cabs.msu.edu/framework/css/vendor.min.css?v=3.0">
  <link rel="stylesheet" href="https://cdn.cabs.msu.edu/framework/css/main.min.css?v=3.0">
  <link rel="stylesheet" href="https://cdn.cabs.msu.edu/framework/css/print.min.css" media="print">
  <link rel="icon" href="https://cdn.cabs.msu.edu/brand/images/favicon.ico">

  <title>SAFS
    {# {% if entry.title is defined %}{{ entry.title }}
    {% elseif title is defined %}{{ title }}
    {% else %}{{ siteName }}{% endif %} | {{ socialMedia.siteNickname }} #}
  </title>

  {# {% include './helpers/_site-meta' %} #}
</head>

<body class="template template--home">

  {% block layout %}{% endblock %}

  <script src="https://cdn.cabs.msu.edu/framework/js/vendor.min.js"></script>
  <script src="https://cdn.cabs.msu.edu/framework/js/main.min.js"></script>

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  {% if craft.config.devMode %}
    <script src="http://localhost:8080/compiled/js/app.js"></script>
  {% else %}
    <script src="/compiled/js/app.js"></script>
  {% endif %}
</body>
</html>
