{% extends '_layouts/_html' %}

{% block layout %}

  <a class="sr-only" href="#content" accesskey="S">Skip to main content</a>

  {# Header #}
  <div>Header</div>

  {# Main Content #}
  <main role="main">
    {% block main %}{% endblock main %}
  </main>

  {# Footer #}
  <div>Footer</div>

{% endblock layout %}
