.DS_Store
node_modules/
web/compiled/
vendor/
*.log
*.log.*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.idea/*
*.log
*.DS_Store
*Thumbs.db
*.sass-cache/
node_modules
*config.codekit
craft/app/
craft/config/license.key
public/assets/site/_*
public/assets/site/*/_*
