// Based off of Zurb Foundation 6

.directory {
    #reset-filter-categories {
        position: absolute;
        right: 0;
        top: -15px;
        font-size: 0.875rem;
        color: #555;
        padding: 2px 18px 2px 0;
        background: url(https://cdn.cabs.msu.edu/framework/images/ico-close.svg) no-repeat center right;
        background-size: 14px;
        display: none;
        &:hover {
            text-decoration: underline;
            color: #18453B;
        }
    }
    #no-results {
        margin-top: 20px;
    }
    #directory-index {
        display: none;
        a {
            text-decoration: none;
        }
    }
    input[type="text"] {
        border-color: #15826B;
        &::-webkit-input-placeholder {
            color: #555 !important;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #555 !important;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #555 !important;
        }
        &:-moz-placeholder {
            /* Firefox 19+ */
            color: #555 !important;
            opacity: 1;
        }
        @media screen and (max-width: 640px) {
            margin-bottom: 20px;
        }
    }
    select {
        color: #555;
        border-color: #33836e;
    }
    &__a-z {
        position: relative;
        margin-bottom: 65px;
        display: table;
        width: 100%;
        @media screen and (max-width: 1024px) {
            margin-bottom: 30px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: table-row;
            width: 100%;
            @media screen and (max-width: 1024px) {
                display: block;
            }
        }
        li {
            display: table-cell;
            @media screen and (max-width: 1024px) {
                display: initial;
                float: left
            }
            button {
                font-size: 0.75rem;
                background: #eafaf7;
                display: block;
                width: 100%;
                padding: 15px 7px;
            }
        }
    }
    &__person {
        #directory-profile & {
            border-bottom: 6px solid #e6e6e6;
            padding-bottom: 50px;
            margin-bottom: 40px;
        }
    }
    &__info {
        min-height: 110px;
        overflow: hidden;
        margin-bottom: 70px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            line-height: 1.4;
            color: #444;
            #directory-profile & {
                line-height: 1.5;
            }
        }
        li {
            font-size: 0.75rem;
            font-weight: 400;
            #directory-profile & {
                font-size: 0.875rem;
            }
            &:first-child {
                font-weight: 500;
                font-size: 1rem;
                #directory-profile & {
                    font-weight: 500;
                    font-size: 1.125rem!important;
                }
            }
            &:nth-child(2) {
                font-size: 0.6875;
                margin-bottom: 5px;  
                padding-bottom: 5px;
                font-weight: 300;
                border-bottom: 1px solid #d3f8f0; 
                #directory-profile & {
                    font-weight: 300;
                    font-size: 0.6875!important;
                    margin-bottom: 10px;  
                    padding-bottom: 10px; 
                }
            }
        }
        a {
            color: #15826B;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            } 
        }
    }
    &__thumb {
        height: 110px;
        width: 110px;
        float: left;
        margin-right: 15px;
        #directory-profile & {
            margin-right: 40px;
        }
        #directory-profile & {
            height: 180px; 
            width: 180px;
            margin-bottom: 40px;
        }
        img {
            width: 100%;
        }
    }
}

#directory-profile {
    margin-bottom: 60px
    hr {
        border-color:#d3f8f0;
    }
}