// Based off of Zurb Foundation 6
.footer {
    &__mega {
        background: #f1f1f1;
        padding: 0 0 30px;
        &__heading {
            min-height: 25px;
            margin: 25px 0 15px;
            h3 {
                font-size: 1.063rem;
                color: $msu-green;
            }
        }
        &__links {
            border-left: 1px solid #D7D7D7;
            ul {
                font-size: 0.875rem;
                list-style-type: none;
                li {
                    line-height: 1.45;
                    margin-bottom: 10px;
                }
                a {
                    color: #333;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}