// Based off of Zurb Foundation 6. Also requires associated custom JavaScript/jQuery
#desktop-nav {
    background: $msu-green;
    padding: 8px 0;
    display: block;
    ul {
        list-style-type: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        color: $white;
        border-left: 1px solid #4a6d65;
        &.current {
            a {
                font-weight: 600!important;
                font-size: 0.9375rem;
                padding: 0 15px 0 19px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &:first-child {
            &.current {
                a {
                    font-weight: 600!important;
                    font-size: 0.9375rem;
                    padding: 0 15px 0 0;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            border-left: none;
            a {
                padding-left: 0;
            }
        }
    }
    a {
        color: $white;
        display: inline-block;
        font-size: 0.875rem;
        padding: 0 18px 0 22px;
        text-decoration: none;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
        &:visited {
            color: $white;
        }
    }
    &.mobile {
        display: none;
    }
}

#btn-hamburger {
    display: none;
    float: right;
    background: none; // color: $msu-green;
    // font-size: 1.9rem;
    margin: 5px 0 -5px;
    padding: 0; // line-height: 1.9rem;
    &.mobile {
        display: inline-block;
    }
    &:focus {
        outline: none;
    }
}

.off-canvas {
    // overrides for Foundation's offcanvas menu bar
    background: $msu-green;
    a {
        color: $white;
        text-decoration: none;
        &:hover,
        &:visited {
            color: $white;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    min-height: 100%;
    overflow-y: hidden;
}

.is-drilldown {
    max-width: 100%!important;
}

.is-drilldown-submenu-parent>a::after {
    border-color: transparent transparent transparent #77918B;
}

.js-drilldown-back>a::before {
    border-color: transparent #77918B transparent transparent;
}

.is-drilldown-submenu {
    background: $msu-green;
    display: none;
    .is-drilldown-submenu {
        margin-left: 0;
    }
    .is-drilldown-submenu-parent>a::after {
        right: 37px;
    }
}

#main-menu {
    position: relative;
    ul {
        ul {
            display: none;
            ul {
                display: none;
            }
        }
    }
}

#offcanvas-nav {
    h1,
    h2 {
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 1.25;
        margin: 10px 1.25rem 0.75rem;
        span {
            display: block;
            font-weight: 300;
            font-size: 1rem;
            margin: 4px 0;
        }
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #e6e3e1;
            }
            &:visited {
                color: $white;
            }
        }
    }
    #main-menu>.is-accordion-submenu-parent>.is-accordion-submenu {
        display: none!important;
    }
    ul {
        font-size: 0.9375rem;
        margin-left: 0; // allows link area to fill width of off canvas navigation
        >li {
            a {
                padding-left: 1.25rem; // recreates appropriate top level indentation
            } // ul>li {
            //     a {
            //         padding-left: 2.5rem; // recreates appropriate 2nd level indentation
            //         background: #244e45;
            //     }
            //     ul>li {
            //         a {
            //             padding-left: 3.75rem; // recreates appropriate 3rd level indentation
            //             background: #33584f;
            //         }
            //         ul>li {
            //             a {
            //                 padding-left: 5rem; // recreates appropriate 4th level indentation
            //                 background: #3a6057;
            //             }
            //         }
            //     }
            // }
            &.current {
                a {
                    font-weight: 600!important;
                    font-size: 1rem;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        &.active-level {
            display: block;
            li {
                // a {
                //     padding-left: 2.5rem;
                // }
                &.active-child {
                    a {
                        color: #d1de3f;
                    }
                }
            }
        }
    }
    a {
        display: block;
        padding: 6px 0;
    }
    .is-drilldown-submenu {
        display: block;
    }
    #search.mobile {
        display: block;
    }
}

.template {
    .contextual-nav {
        position: relative;
        >div {
            float: right;
            width: 100%;
            max-width: 319px; // margin-left: 30px;
            background-color: #fafafa;
            padding: 27px 27px 0;
            border-top: 6px solid #959595;
            @media screen and (max-width: 1024px) {
                float: none;
                width: 100%;
                max-width: none;
                margin-left: 0;
            }
        }
        nav {
            padding: 20px 0 50px;
            border-top: 1px solid #d7d7d7;
            display: block;
            >ul {
                margin-left: 0;
                padding-left: 0;
                ul {
                    li {
                        list-style-type: none;
                    }
                    ul {
                        //margin-left: 0.75rem;
                        border-left: 4px solid #e8e8e8;
                        li {
                            margin-left: 0.5rem;
                            list-style-type: none;
                        }
                    }
                }
            }
            ul {
                list-style-type: none;
                font-size: 0.875rem;
                @media screen and (max-width: 1024px) {
                    font-size: 0.9375rem;
                }
                a {
                    display: block;
                    color: #333;
                    line-height: 1.5;
                    padding: 4px 1.438rem 4px 4px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.current {
                        color: $msu-green;
                        font-weight: 700;
                    }
                }
            }
            li {
                &.active {
                    a {
                        color: $msu-green;
                        font-weight: 700;
                    }
                }
            }
        }
        &__drawer {
            display: none;
            margin-bottom: 20px;
            @media screen and (max-width: 1024px) {
                display: block;
            }
            >div {
                @media screen and (max-width: 1024px) {
                    float: none;
                    width: 100%;
                    max-width: none;
                    padding: 12px 20px 0;
                    margin-left: 0;
                }
            }
            nav {
                display: none;
                padding: 15px 0;
            }
        }
        &__sidebar {
            margin-bottom: 50px;
        }
        h2,
        h3 {
            font-size: 1.125rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            padding-bottom: 10px;
            margin-bottom: 0;
            font-weight: 500;
            a {
                display: inline;
                background: none;
                padding-right: 22px;
                text-decoration: none;
                @media screen and (max-width: 1024px) {
                    display: block;
                    background: url("https://cdn.cabs.msu.edu/framework/images/ico-accordion-chevron.svg") no-repeat 100% 4px;
                    background-size: 17px;
                }
                &.active {
                    background-position-y: -53px;
                }
                &:hover {
                    color: $msu-green;
                    text-decoration: none;
                }
            }
        }
        &.mobile {
            display: none;
        }
    }
    &--child {
        .contextual-nav {
            >div {
                top: 0;
                @media screen and (max-width: 1024px) {
                    top: 0;
                }
            }
        }
        &-photo {
            .contextual-nav {
                >div {
                    margin-top: -70px;
                    @media screen and (max-width: 1024px) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.is-accordion-submenu-parent>a::after {
    // override for Foundation 6 accordion collapsed symbol
    content: "+";
    display: block;
    font-size: 1rem!important;
    width: 0;
    height: auto;
    border: none;
    border-color: transparent transparent transparent;
    border-top-style: none;
    border-bottom-width: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 0;
    right: 1rem;
}

.is-accordion-submenu-parent[aria-expanded='true']>a::after {
    // override for Foundation 6 accordion expanded symbol
    content: "\2013";
    transform-origin: initial;
    transform: translate(0, -50%);
}

.is-open-right {
    transform: translateX(-265px);
}

.off-canvas.position-right {
    right: -265px;
    top: 0;
    width: 265px;
}

.off-canvas-content {
    background: none;
}

// inline accordions
.accordion-title {
    color: #18453b;
}

.accordion {
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 35px;
    .accordion-item {
        >a {
            font-size: 0.875rem;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        &.is-active {
            >a {
                font-size: 0.875rem;
                color: #444;
                font-weight: 700;
            }
        }
    }
}

.tabs {
    padding-left: 0;
    margin-top: 25px;
    .tabs-title {
        >a {
            font-size: 0.875rem;
            color: #18453b;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        &.is-active {
            >a {
                //font-size: 1rem;
                color: #444;
                font-weight: 700;
            }
        }
    }
}

.tabs-content {
    margin-bottom: 35px;
}