// Based off of Zurb Foundation 6
.promo {
    $promo: &;
    position: relative;
    text-align: center;
    margin-top: 40px;
    .template--child & {
        margin-top: 20px;
    }
    h2 {
        margin-bottom: 1.625rem;
    }
    &--3-up {
        margin-bottom: 40px;
    }
    &--4-up {
        margin-bottom: 40px;
    }
    &.row {
        margin-right: -7px;
        margin-left: -7px;
        @media screen and (max-width: 640px) {
            margin-left: -.625rem;
            margin-right: -.625rem;
        }
        .row {
            margin-right: 0;
            margin-left: 0;
        }
    }
    &__equalizer {
        margin-left: 7px;
        margin-right: 7px;
        a {
            display: block;
        }
        h4 {
            color: $dark-gray;
        }
        @media screen and (max-width: 640px) {
            height: auto!important;
            margin-left: 0;
            margin-right: 0;
        }
    }
    #{$promo}__image {
        min-height: 280px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        margin-bottom: 28px;
        .template--child & {
            min-height: 182px;
            margin-bottom: 15px;
        }
    }
    h3 {
        color: #333;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-bottom: 0.75rem;
    }
    &--gallery {
        #{$promo}__equalizer {
            margin-bottom: 38px;
            h4 {
                font-size: 1rem;
                font-weight: 500;
            }
            .template--child & {
                // margin-bottom: 20px;
                text-align: left;
                h4 {
                    line-height: 1.25;
                    font-weight: 500;
                }
                p {
                    font-size: 0.8125rem;
                    a {
                        display: inline;
                        color: $msu-green;
                        font-weight: 500;
                        text-decoration: underline;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        #{$promo}__image {
            min-height: 150px;
            margin-bottom: 15px;
            .template--child & {
                margin-bottom: 15px;
            }
        }
        .template--child & {
            margin-bottom: 40px;
        }
    }
    .button {
        margin: 1.25rem 0;
        @media screen and (max-width: 640px) {
            margin-top: 0;
        }
    }
    a {
        color: $dark-gray;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}