.footer {
    &__social {
        background: #6d6d6d;

        ul {
            list-style-type: none;
            line-height: 0;
            margin: 6px 0;
            padding: 0;
        }

        li {
            display: inline-block;
            height: 36px;
            width: 36px;
            margin: 4px 16px 6px;
            @media screen and (max-width:640px) {
                margin-left: 8px;
                margin-right: 8px;
                line-height: 1.5;
            }
        }

        a {
            display: inline-block;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            background-color: $white;
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                background-color: #8de9d4;
            }
        }

        .facebook {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-facebook.svg");
            background-size: 12px;
        }

        .foursquare {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-foursquare.svg");
            background-size: 14px;
        }

        .googleplus {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-googleplus.svg");
            background-size: 24px;
        }

        .instagram {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-instagram.svg");
            background-size: 22px;
        }

        .linkedin {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-linkedin.svg");
            background-size: 22px;
        }

        .periscope {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-periscope.svg");
            background-size: 16px;
        }

        .snapchat {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-snapchat.svg");
            background-size: 20px;
        }

        .twitter {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-twitter.svg");
            background-size: 22px;
        }

        .vine {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-vine.svg");
            background-size: 18px;
        }

        .youtube {
            background-image: url("https://cdn.cabs.msu.edu/framework/images/social/ico-social-youtube.svg");
            background-size: 22px;
        }
    }
}
