@import '~normalize.css/normalize.css'; // import normalize.css from node_modules
@import '~@variables'; // alias set up in webpack config


// Typography
html {
  font-size: 100%;
}

body, input, textarea, select, optgroup, option {
  color: $color-text;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.5;
}

p {
  margin: $space-stack-default;
  &:last-child {
    margin: 0;
  }
}

/* Heading sizes (h1-h4) based on the Golden Ratio.
* @http://www.lauradhamilton.com/the-golden-ratio-and-typography
*/

h1 {
  color: $color-brand-primary;
  font-size: $font-size-base * power($phi, 4);
  font-weight: 900;
   margin: $space-stack-l;
  @media (max-width: 50rem) {
    font-size: $font-size-base * power($phi, 3);
  }
}

h2 {
  color: $color-black;
  font-size: $font-size-base * power($phi, 3);
  font-weight: 900;
  margin: $space-stack-m;
  @media (max-width: 50rem) {
    font-size: $font-size-base * power($phi, 2);
  }
}

h3 {
  color: $color-black;
  font-size: $font-size-base * power($phi, 2);
  font-weight: bold;
  margin: $space-stack-m;
  @media (max-width: 50rem) {
    font-size: $font-size-base * power($phi, 1);
  }
}

h4 {
  color: $color-black;
  font-size: $font-size-base * power($phi, 1);
  font-weight: bold;
  margin: $space-stack-s;
}

h5, h6 {
  color: $color-black;
  font-size: $font-size-base;
  font-variant: small-caps;
  font-weight: bold;
  margin: $space-stack-m;
}

// Less used text elements

small {
  font-size: $font-size-s;
}

abbr[title], acronym[title] {
  text-decoration: none;
  border-bottom: 2px solid $color-blue;
}

mark {
  background-color: tint($color-green-light, 70%);
}

time {
  font-size: $font-size-s;
  font-style: italic;
}


// Links
a {
  color: $color-link;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: $color-link--hover;
    text-decoration: underline;
  }
}

// Lists
ol, ul {
  list-style-position: outside;
  padding-left: $space-l;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: $space-s;
  &:last-child {
    margin-bottom: 0;
  }
}

li > ul, li > ol {
  margin-top: $space-s;
}
