// print styles

#search,
#desktop-nav,
nav,
#offcanvas-nav,
#btn-hamburger,
.template__photo, 
.contextual-nav,
.footer__info { 
    display: none; 
}

.template__sticky-header {
    position: relative;
}

.headroom--unpinned {
    transform: translateY(0%);
}

main>.large-8 {
    width: 100%
}

.footer__mega__links {
    height: auto!important; 
}