{% extends '_layouts/_master' %}

{% block main %}

<p>Hello this is index.twig</p>
<m-blockquote>
  This is a blockquote in index.twig.
  <p slot="source">Katie Fritz</p>
</m-blockquote>


{% endblock %}
