{% extends '_layouts/_master' %}

{% block main %}

  <div class="template__photo" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(//cdn.cabs.msu.edu/framework/images/hero/hero-research-lab-6.jpg) no-repeat 50% 0;background-size: cover;">
    <div class="template__photo__text">
      <h2>Spartans Will</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa arcu, tempor a risus quis, interdum rhoncus
        turpis.
      </p>
      <a href="#" class="button hollow inverted">Learn More</a>
    </div>
  </div>
  <main>
    <div class="row">
      <div class="large-12 columns">

        <div class="row intro">
          <div class="large-9 columns large-centered text-center">
            <h2>Nam eu est et elit tristique malesuada</h2>
            <p>Nam eu est et elit tristique malesuada. Quisque a augue non libero viverra sollicitudin ut sed risus.
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
